<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://talalsharief-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8040.site4now.net:8172/MsDeploy.axd?site=talalsharief-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>talalsharief-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>talalsharief-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8004.site4now.net;Initial Catalog=db_a8ade8_chat360database;User ID=db_a8ade8_chat360database_admin;Password=Networks36012" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Chat_Networks360.Areas.HelpPage.Models.MesagingContext, Chat_Networks360" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DB-Web.config Connection String">
      <ParameterValue>Data Source=SQL8004.site4now.net;Initial Catalog=db_a8ade8_chat360database;User ID=db_a8ade8_chat360database_admin;Password=Networks36012</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DB" />
  </ItemGroup>
</Project>